# .master.env.sample for ALL servers and targets.   Modified: 2018-Aug-3 8:30 AM CST
# Yes, this is my sanitized SAMPLE of the MASTER .master.env!
#
# This file is intended to be used in concert with ~/Projects/Docker/Port-Ability/_scripts/restart.sh.
# It employs Python's ConfigParser to parse INI-style data, returning pertinent data to the host
# in a protected .env file.
#
# Selection of .dev vs .stage vs .prod values is governed in 'restart.sh' by `hostname` and the
# [servers] list supplied below.
#
# A temporary, appropriate .env file is created in the target _sites directory to support its configuration.
#
# Check https://github.com/wodby/docker4drupal/releases and
# https://github.com/wodby/docker4drupal/blob/master/.env for tag updates pertaining to:
#
#  MARIADB_TAG         Last update of these TAGs was 7-Jul-2018
#  PHP_TAG
#  NGINX_TAG
#  DRUPAL_TAG

########################################################

# The [servers] section identifies all of the servers that we can consider, and tells us
# if that server hosts a 'dev', 'stage', or 'prod' environment.

[servers]
ma8660.local = dev                    # Mark's GC iMac
ma7053.local = dev                    # Mark's GC MacBook Air
dgdockerx = stage                     # GC DockerX server
dgdocker1 = prod                      # GC's first Docker production server
Mark-iMac = dev                       # Mark's personal iMac
Marks-MacBook-Air.local = dev         # Mark's personal MacBook Air
summitt-services-droplet-01 = prod    # Mark's Digital Ocean production droplet

########################################################

# The [targets] section identifies all of the target apps/sites that we can consider,
# along with their highest/latest state.  A state of 'none' means the app/site does not yet exist!

[targets]
traefik = prod      # The key to much of this...
admin = prod        # Mark's admin.summittservices.com Drupal 7 site
crb = prod          # The Compass Rose Band (crb) Drupal 7 site
htlt = prod         # The Horse Trails Less Traveled (htlt) Drupal 7 site
stc-rec = prod      # The STC-Rec (stcrec) Drupal 7 site
wieting = prod      # The Wieting Theatre (wieting) Drupal 8 site
igo = none          # The Iowa Geocachers.org (igo) Drupal 8 site
ivc = none          # The Iowa Valley Carriage (ivc) Drupal 8 site
v8 = none           # Starts a fresh, new, dev-only 'vanilla' Drupal 8 site per D4D
v6 = dev            # Starts a fresh, new, dev-only 'vanilla' Drupal 6 site per D4D
ohscribe = prod     # My OHScribe Python3/Flask app
portainer = prod    # The Portainer Docker management site
textline = dev      # A Drupal 6 port of the old DLAD6 TextLine site

########################################################

# Common Settings for ALL targets. Most of these come from docker4drupal

[common]
BASE_PATH = /home/centos/Projects/Docker/Port-Ability/
DB_USER = drupal
DB_PASSWORD = NothingToSeeHere
DB_ROOT_PASSWORD = StillNothingToSee
DB_HOST = mariadb
DB_DRIVER = mysql
NGINX_SERVER_ROOT = /var/www/html/web

### --- MARIADB ----
MARIADB_TAG = 10.1-3.2.2

### --- NGINX ----
### [DRUPAL_VERSION]-[NGINX_VERSION]-[STABILITY_TAG]
NGINX_TAG = 8-1.15-4.2.0

### --- XDEBUG ---   See https://wodby.com/stacks/drupal/docs/local/xdebug/

[common.prod]
PHP_TAG = 7.1-dev-4.5.2
PHP_XDEBUG = 0
PHP_XDEBUG_DEFAULT_ENABLE = 0
PHP_XDEBUG_REMOTE_CONNECT_BACK = 0
PHP_IDE_CONFIG = ''
PHP_XDEBUG_REMOTE_HOST = ''
LOG_VERBOSITY = INFO

[common.stage]
PHP_TAG = 7.1-dev-4.5.2
PHP_XDEBUG = 0
PHP_XDEBUG_DEFAULT_ENABLE = 0
PHP_XDEBUG_REMOTE_CONNECT_BACK = 0
PHP_IDE_CONFIG = ''
PHP_XDEBUG_REMOTE_HOST = ''
LOG_VERBOSITY = DEBUG

[common.dev]
PHP_TAG = 7.1-dev-macos-4.5.2
PHP_XDEBUG = 1
PHP_XDEBUG_DEFAULT_ENABLE = 1
PHP_XDEBUG_REMOTE_CONNECT_BACK = 0
PHP_IDE_CONFIG = serverName=my-ide
PHP_XDEBUG_REMOTE_HOST = host.docker.internal
LOG_VERBOSITY = DEBUG

[common.ma8660.local]
BASE_PATH = /Users/markmcfate/Projects/Docker/Port-Ability/
DRUPAL_USER = ${USER}
HTTPD_GROUP = staff

[common.Mark-iMac]
BASE_PATH = /Users/markmcfate/Projects/Docker/Port-Ability/
DRUPAL_USER = ${USER}
HTTPD_GROUP = staff

[common.Marks-MacBook-Air.local]
BASE_PATH = /Users/mark/Projects/Docker/Port-Ability/
DRUPAL_USER = ${USER}
HTTPD_GROUP = staff

[common.summitt-services-droplet-01]
BASE_PATH = /home/centos/Projects/Docker/Port-Ability/
DOMAIN = summittservices.com
DRUPAL_USER = centos
HTTPD_GROUP = centos

[common.dgdockerx]
BASE_PATH = /home/mcfatem/Projects/Docker/Port-Ability/
DOMAIN = grinnell.edu
DRUPAL_USER = mcfatem
HTTPD_GROUP = mcfatem

[common.dgdocker1]
BASE_PATH = /home/mcfatem/Projects/Docker/Port-Ability/
DOMAIN = grinnell.edu
DRUPAL_USER = mcfatem
HTTPD_GROUP = mcfatem

#######################################################

### Traefik
# Note that there is no 'traefik' in the [targets] section above.  This is
# because Traefik is automatically managed as part of EACH restart 'port-ability-restart' request.

[traefik]
PROJECT_PATH = traefik

[traefik.dev]
SUB = traefikx
DOMAIN = docker.localhost

[traefik.stage]
SUB = traefikx
DOMAIN = grinnell.edu

[traefik.prod]
SUB = traefik
DOMAIN = grinnell.edu

[traefik.prod.summitt-services-droplet-01]
DOMAIN = summittservices.com

#######################################################

### Portainer

[portainer]
PROJECT_NAME = portainer
CONTAINERS = 'portainer'
PROJECT_PATH = _sites/portainer

[portainer.dev]
PROJECT_BASE_URL = docker.localhost
PROJECT_FULL_URL = portainerx.docker.localhost
AUTH = --no-auth
DOMAIN = docker.localhost

[portainer.stage]
PROJECT_BASE_URL = grinnell.edu
PROJECT_FULL_URL = portainerx.grinnell.edu
AUTH = '--admin-password $SomeHashedGobbeldygook'
DOMAIN = grinnell.edu

[portainer.prod]
PROJECT_BASE_URL = grinnell.edu
PROJECT_FULL_URL = portainer.grinnell.edu
AUTH = '--admin-password $MoreHashedGobbeldygook'
DOMAIN = grinnell.edu

[portainer.prod.summitt-services-droplet-01]
PROJECT_BASE_URL = summittservices.com
PROJECT_FULL_URL = portainer.summittservices.com
AUTH = '--admin-password $StillMoreHashedGobbeldygook'
DOMAIN = summittservices.com

#######################################################

### OHScribe

[ohscribe]
PROJECT_NAME = ohscribe
PROJECT_PATH = _sites/OHScribe
CONTAINERS = 'ohscribe'
OHSCRIBE_ADMIN_PASSWORD=YouWillNeverGuessThisOne
OHSCRIBE_SECRET_KEY=NorThisOne
OHSCRIBE_UPLOAD_FOLDER=/tmp/ohscribe/data

[ohscribe.dev]
PROJECT_BASE_URL = docker.localhost
PROJECT_FULL_URL = ohscribex.docker.localhost
AUTH = --no-auth
DOMAIN = docker.localhost
OHSCRIBE_HOST_ADDR=127.0.0.1

[ohscribe.stage]
PROJECT_BASE_URL = grinnell.edu
PROJECT_FULL_URL = ohscribex.grinnell.edu
DOMAIN = grinnell.edu
OHSCRIBE_HOST_ADDR=0.0.0.0

[ohscribe.prod]
PROJECT_BASE_URL = grinnell.edu
PROJECT_FULL_URL = ohscribe.grinnell.edu
DOMAIN = grinnell.edu
OHSCRIBE_HOST_ADDR=0.0.0.0

[ohscribe.prod.summitt-services-droplet-01]
PROJECT_BASE_URL = summittservices.com
PROJECT_FULL_URL = ohscribe.summittservices.com
DOMAIN = summittservices.com


#########################################################

# The following configs are for sites hosted on my Digital Ocean droplet, SummittServices.com, etc.

### Wieting.TamaToledo.com

[wieting]
PROJECT_NAME = wieting
DB_NAME = wieting
DRUPAL_VERSION = 8
CONTAINERS = 'mariadb nginx php'
DRUPAL_TAG = 8-7.1-4.5.2
PROJECT_PATH = _sites/wieting

[wieting.dev]
PROJECT_BASE_URL = docker.localhost
PROJECT_FULL_URL = wieting.docker.localhost

[wieting.prod]
PROJECT_BASE_URL = tamatoledo.com
PROJECT_FULL_URL = wieting.tamatoledo.com,weiting.tamatoledo.com,wieting.tamatoledo.net

### STC-REC.TamaToledo.org

[stc-rec]
PROJECT_NAME = stc-rec
DB_NAME = stcrec
DRUPAL_VERSION = 7
CONTAINERS = 'mariadb nginx php'
DRUPAL_TAG = 7-7.1-4.5.2
PROJECT_PATH = _sites/stc-rec

[stc-rec.dev]
PROJECT_BASE_URL = docker.localhost
PROJECT_FULL_URL = stc-rec.docker.localhost

[stc-rec.prod]
PROJECT_BASE_URL = tamatoledo.org
PROJECT_FULL_URL = stc-rec.tamatoledo.org

### HorseTrailsLessTraveled.com

[htlt]
PROJECT_NAME = htlt
DB_NAME = htlt
DRUPAL_VERSION = 7
CONTAINERS = 'mariadb nginx php'
DRUPAL_TAG = 7-7.1-4.5.2
PROJECT_PATH = _sites/htlt

[htlt.dev]
PROJECT_BASE_URL = docker.localhost
PROJECT_FULL_URL = htlt.docker.localhost

[htlt.prod]
PROJECT_BASE_URL = horsetrailslesstraveled.com
PROJECT_FULL_URL = horsetrailslesstraveled.com,www.horsetrailslesstraveled.com

### admin.SummittServices.com

[admin]
PROJECT_NAME = admin
DB_NAME = admin
DRUPAL_VERSION = 7
CONTAINERS = 'mariadb nginx php'
DRUPAL_TAG = 7-7.1-4.5.2
PROJECT_PATH = _sites/admin

[admin.dev]
PROJECT_BASE_URL = docker.localhost
PROJECT_FULL_URL = admin.docker.localhost

[admin.stage]
PROJECT_BASE_URL = docker.localhost
PROJECT_FULL_URL = admin.docker.localhost

[admin.prod]
PROJECT_BASE_URL = summittservices.com
PROJECT_FULL_URL = admin.summittservices.com

### CompassRoseBand.net

[crb]
PROJECT_NAME = crb
DB_NAME = crb
DRUPAL_VERSION = 7
CONTAINERS = 'mariadb nginx php'
DRUPAL_TAG = 7-7.1-4.5.2
PROJECT_PATH = _sites/crb

[crb.dev]
PROJECT_BASE_URL = docker.localhost
PROJECT_FULL_URL = crb.docker.localhost

[crb.stage]
PROJECT_BASE_URL = docker.localhost
PROJECT_FULL_URL = crb.docker.localhost

[crb.prod]
PROJECT_BASE_URL = compassroseband.net
PROJECT_FULL_URL = compassroseband.net,thecompassroseband.net,thecompassroseband.com


#########################################################

# Grinnell College sites and applications

### Vanilla Drupal 6

[v6]
DB_NAME = drupal
DB_USER = drupal
DB_PASSWORD = IAmNotGoingToTellYou
DB_ROOT_PASSWORD = DoNotEvenAskMe

PROJECT_NAME = v6
DRUPAL_VERSION = 6
# DB_NAME = textline
CONTAINERS = 'mariadb nginx php'
DRUPAL_TAG = 6-5.6-4.5.2
PROJECT_PATH = _sites/v6
PHP_TAG = 5.6-dev-macos-4.5.2
NGINX_TAG = 6-1.15-4.2.0

[v6.dev]
PROJECT_BASE_URL = docker.localhost
PROJECT_FULL_URL = v6.docker.localhost

### TextLine.Grinnell.edu

[textline]
PROJECT_NAME = textline
DB_NAME = textline
DRUPAL_VERSION = 6
CONTAINERS = 'mariadb nginx php'
PROJECT_PATH = _sites/textline
PHP_TAG = 5.3-dev-macos-4.5.2
NGINX_TAG = 6-1.15-4.2.0
NGINX_SERVER_ROOT = /var/www/html/web
DB_PASSWORD = YouHaveToAskNicely

[textline.dev]
PROJECT_BASE_URL = docker.localhost
PROJECT_FULL_URL = textline.docker.localhost

[textline.stage]
PROJECT_BASE_URL = grinnell.edu
PROJECT_FULL_URL = textlinex.grinnell.edu
PHP_TAG = 5.3-dev-4.5.2

[textline.prod]
PROJECT_BASE_URL = grinnell.edu
PROJECT_FULL_URL = textline.grinnell.edu
PHP_TAG = 5.3-dev-4.5.2
